# Created by .ignore support plugin (hsz.mobi)
/lib/glfw-3.2.1/include/GLFW/
/lib/glfw-3.2.1/lib-mingw/libglfw3.a
/lib/glfw-3.2.1/lib-mingw/libglfw3dll.a
/lib/glfw-3.2.1/lib-mingw/glfw3.dll
/lib/glfw-3.2.1/lib-vc2012/
/lib/glfw-3.2.1/lib-vc2010/
/lib/glfw-3.2.1/docs/
/lib/glfw-3.2.1/lib-mingw-w64/
/lib/glfw-3.2.1/lib-vc2015/
/lib/glfw-3.2.1/COPYING.txt
/lib/glfw-3.2.1/lib-vc2013/
/lib/glew-2.0.0/lib/Release/
/lib/glew-2.0.0/doc/
/lib/glew-2.0.0/bin/Release/
/lib/glew-2.0.0/include/GL/
/lib/assimp/lib/assimp-vc140-mt.exp
/lib/assimp/include/assimp/
/lib/assimp/lib/assimp-vc140-mt.lib
/lib/assimp/lib/zlibstatic.lib
/lib/glm/util/
/lib/glm/.gitignore
/lib/glm/test/
/lib/glm/readme.md
/lib/glm/copying.txt
/lib/glm/cmake/
/lib/glm/doc/
/lib/glm/CMakeLists.txt
/lib/glm/glm/glm.hpp
/lib/glm/glm/mat2x4.hpp
/lib/glm/glm/matrix.hpp
/lib/glm/glm/integer.hpp
/lib/glm/glm/common.hpp
/lib/glm/glm/mat4x4.hpp
/lib/glm/glm/gtx/
/lib/glm/glm/gtc/
/lib/glm/glm/detail/
/lib/glm/glm/mat3x2.hpp
/lib/glm/glm/mat4x3.hpp
/lib/glm/glm/fwd.hpp
/lib/glm/glm/packing.hpp
/lib/glm/glm/vec3.hpp
/lib/glm/glm/mat3x4.hpp
/lib/glm/glm/CMakeLists.txt
/lib/glm/glm/vec2.hpp
/lib/glm/glm/mat3x3.hpp
/lib/glm/glm/exponential.hpp
/lib/glm/glm/trigonometric.hpp
/lib/glm/glm/vector_relational.hpp
/lib/glm/glm/vec4.hpp
/lib/glm/glm/simd/
/lib/glm/glm/mat2x3.hpp
/lib/glm/glm/mat4x2.hpp
/lib/glm/glm/geometric.hpp
/lib/glm/glm/mat2x2.hpp
/lib/glm/glm/ext.hpp
/lib/openAL/lib/EFX-Util_MTDLL/
/lib/openAL/lib/EFX-Util_MT/
/lib/openAL/lib/OpenAL32.lib
/lib/openAL/include/alc.h
/lib/openAL/include/xram.h
/lib/openAL/include/efx-creative.h
/lib/openAL/include/efx.h
/lib/openAL/include/EFX-Util.h
/lib/openAL/include/al.h
/lib/soil/lib/SOIL.lib
/lib/soil/include/stb_image_aug.h
/lib/soil/include/SOIL.h
/lib/soil/include/original/
/lib/soil/include/image_helper.c
/lib/soil/lib/libSOIL.a
/lib/soil/include/SOIL.c
/lib/soil/include/stb_image_aug.c
/lib/soil/include/image_helper.h
/lib/soil/include/test_SOIL.cpp
/lib/soil/include/image_DXT.h
/lib/soil/include/stbi_DDS_aug_c.h
/lib/soil/include/stbi_DDS_aug.h
/lib/soil/include/image_DXT.c
/lib/cereal/cereal/external/
/lib/cereal/cereal/macros.hpp
/lib/cereal/cereal/archives/
/lib/cereal/cereal/details/
/lib/cereal/cereal/types/
/lib/cereal/cereal/cereal.hpp
/lib/cereal/cereal/access.hpp
